extends layout

block content
	div#main
		// begin header
		header
			div#logo
				h1<strong> SOMEBODY.
			nav
				ul.sf-menu#nav
					li.selected
						a(href="/") Home
					li
						a(href="/introduction") Introduce
					li
						a(href="#") Portfolio
						ul
							li
								a(href="/portfolio_one") Picture
					li
						a(href="#") Video
						ul
							li
								a(href="/video1") #1 Only One Bag?
							li
								a(href="/video2") #2 Plastic Bag?
					li
						a(href="/blog") Blog
					li
						a(href="/schedule") Schedule
					li
						a(href="/contact") Contact

		// begin content
		div#site_content
			ul.slideshow
				li.show
					img(width="950" height="450" src="/images/cover1.jpg" alt="We are Somebody.")
				li
					img(width="950" height="450" src="/images/cover2.jpg" alt="We are Somebody.")
				li
					img(width="950" height="450" src="/images/cover3.jpg" alt="We are Somebody.")

		// begin footer
		include ./footer.jade
