doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dark.css')
    script(src='/js/modernizr-1.5.min.js')
  body
    block content